<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Happy ...</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/reset.css" />
		<link rel="stylesheet" href="../../assets/css/common.css" />
		<link rel="stylesheet" href="../../assets/css/generated-card.css" />
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="wrapper">
			<header class="header ">
				<div class="app-name">GreetTeam</div>
				<div class=header-right__row>
					<div class="navigation-row">
						<a href="#" class="navigation-link home">
							<img src="../../assets/pictures/home.png">
						</a>
						<a href="#" class="navigation-link profile">
							<img src="../../assets/pictures/user.png">
						</a>
						<a href="#" class="navigation-link my-cards">
							<img src="../../assets/pictures/photos.png">
						</a>
						<a href="#" class="navigation-link log-out">
							<img src="../../assets/pictures/exit.png">
						</a>
					</div>
					<div class="user-greeting">Hello, Author2!</div>
				<div>
			</header>
			<div class="main-functions">
				<div class="command__row hide-with-scroll">
					<div class="filter__blocks">
					</div>
					<div class="actions__row padding-right_75">
						<a href="#" class="edit yellow-button command-button">Back to Edit</a>
						<a href="#" class="finish yellow-button command-button margin-left_0">Finish Card</a>
						<a href="#" class="delete white-button command-button">Delete Card</a>
					</div>
				</div>
				<main class="container">
					<a href="" class="app-name">GreetTeam</a>
					<div class="card__title with-background margin-top_65">Happy ...</div>
					<div class="with-background" id="card__navigation">
						<div class="card__navigation">
							From:
							<div class="card__contributors">
								<ul>
									<li><a href="#blocks__column_Author1">
										Author1
										<div class="profile-picture">
	                              <img src="../../assets/pictures/edit.jpg">
	                          	</div>
	                        </a></li>
									<li><a href="#blocks__column_Author2">Author2
										<div class="profile-picture">
	                              <img src="../../assets/pictures/photos.png">
	                          	</div>
	                       </a></li>
									<li><a href="#blocks__column_Author3">Author3
										<div class="profile-picture none">
	                               <img src="../../assets/pictures/user.png" class="no-picture">
	                           </div>
	                       </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="blocks__column with-background paper-like" id="blocks__column_Author1">
						<div class="congratulation-block">
							<div class="signature">Author1</div>
							<div class="congratulation-body">
								<div class="text-element">
									<p><em><span style="font-size: 40pt; color: rgb(22, 0, 0);">Happy...</span></em></p>
								</div>
								<div class="optional-element video">
									<iframe 
									src="https://www.youtube.com/embed/J9Q3i5w6-Ug" 
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
									allowfullscreen="" 
									width="560px" height="300px" frameborder="0">
									</iframe>
								</div>
							</div>
						</div>
						<div class="congratulation-block">
							<div class="signature">Author1</div>
							<div class="congratulation-body">
								<div class="text-element">
									<p><em><span style="font-size: 40pt; color: rgb(22, 0, 0);">Happy...</span></em></p>
								</div>
								<div class="optional-element">
									<img class="optional-element_image" src="../../assets/pictures/browncake.jpg">
								</div>
							</div>
						</div>
					</div>
					<div class="blocks__column with-background paper-like" id="blocks__column_Author2">
						<div class="congratulation-block">
							<div class="signature">Author2</div>
							<div class="congratulation-body">
								<div class="text-element">
									<p><em><span style="font-size: 40pt; color: rgb(22, 0, 121);">Happy...</span></em></p>
								</div>
								<div class="optional-element">
									<img class="optional-element_image" src="../../assets/pictures/tealcake.jpg">
								</div>
							</div>
						</div>
						<div class="congratulation-block">
							<div class="signature">Author2</div>
							<div class="congratulation-body">
								<div class="text-element">
									<p><em><span style="font-size: 40pt; color: rgb(22, 0, 121);">Happy...</span></em></p>
								</div>
								<div class="optional-element video">
									<iframe 
									src="https://www.youtube.com/embed/J9Q3i5w6-Ug" 
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
									allowfullscreen="" 
									width="560px" height="300px" frameborder="0">
									</iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="blocks__column with-background paper-like" id="blocks__column_Author3">
						<div class="congratulation-block">
							<div class="signature">Author3</div>
							<div class="congratulation-body">
								<div class="text-element">
									<p><em><span style="font-size: 40pt; color: rgb(22, 145, 121);">Happy...</span></em></p>
								</div>
								<div class="optional-element video">
									<iframe 
									src="https://www.youtube.com/embed/KNGQ9JBQWhQ" 
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
									allowfullscreen="" 
									width="560px" height="300px" frameborder="0">
									</iframe>
								</div>
							</div>
						</div>
						<div class="congratulation-block">
							<div class="signature">Author3</div>
							<div class="congratulation-body">
								<div class="text-element">
									<p><em><span style="font-size: 40pt; color: rgb(22, 145, 121);">Happy...</span></em></p>
								</div>
								<div class="optional-element">
									<img class="optional-element_image" src="../../assets/pictures/pinkcake.jpg">
								</div>
							</div>
						</div>
					</div>
					<a class="pointer-to-navigetion with-background" href="#card__navigation">To Navigation</a>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>