<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../assets/css/reset.css"/>
    <link rel="stylesheet" href="../../assets/css/common.css"/>
    <link rel="stylesheet" href="../../assets/css/profile.css"/>
    <title>Change password</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="app-name">GreetTeam</div>
        <div class=header-right__row>
            <div class="navigation-row">
                <a href="#" class="navigation-link home">
                    <img src="../../assets/pictures/home.png">
                </a>
                <a href="#" class="navigation-link profile">
                    <img src="../../assets/pictures/user.png">
                </a>
                <a href="#" class="navigation-link my-cards">
                    <img src="../../assets/pictures/photos.png">
                </a>
                <a href="#" class="navigation-link log-out">
                    <img src="../../assets/pictures/exit.png">
                </a>
            </div>
            <div class="user-greeting">Hello, Ann!</div>
        </div>
    </header>
    <div class="main-functions">
        <div class="command__row">
            <div class="filter__pages">
            </div>
            <div class="actions__row margin-right_184">
                <input type="submit" form="password-changeable" class="yellow-button command-button" value="Save password">
                <a href="profile.html" class="white-button command-button">Cancel</a>
            </div>
        </div>
        <main class="container">
            <form action="" id="password-changeable" class="profile-details-changeable">
                <div class="profile-text-change__column no-margin-left no-border">
                    <div class="input-text-element__row">
                        <label for="old-password" class="">Old Password:</label>
                        <input type="password" id="old-password" class="password styled-as-input" name="old-password">
                    </div>
                    <div class="input-text-element__row">
                            <label for="new-password" class="">New Password:</label>
                        <input type="password" id="new-password" class="password styled-as-input" name="new-password">
                    </div>
                    <div class="input-text-element__row">
                            <label for="check-new-password" class="">Check New Password:</label>
                        <input type="password" id="check-new-password" class="password styled-as-input" name="check-new-password">
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
</body>
</html>