<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/common.css"/>
    <link rel="stylesheet" href="../../assets/css/home.css" />
    <title>GreetTeam</title>
</head>
<body>
    <div class="wrapper_home">
    <header class="header">
        <div class="app-name">GreetTeam</div>
        <div class=header-right__row>
        <div>
    </header>
    <div class="main-functions">
        <div class="call-to-action-and-bg__row">
            <div class="call-to-action__column">
                <a href="" class="call-to-action">
                    Sign Up
                </a>
                <a href="" class="call-to-action">
                    Log In
                </a>
            </div>
            <div class="example__box">
                <img src="">
            </div>
        </div>
    </div>
</div>
</body>
</html>