<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contribute to card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../assets/css/reset.css"/>
    <link rel="stylesheet" href="../../assets/css/common.css"/>
    <link rel="stylesheet" href="../../assets/css/login.css"/>
    <meta charset="UTF-8">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="app-name">GreetTeam</div>
        <div class=header-right__row>
            <div class="navigation-row">
                <a href="#" class="navigation-link home">
                    <img src="../../assets/pictures/home.png">
                </a>
            </div>
        </div>
    </header>
    <div class="main-functions">
        <div class="command__row">
            <div class="filter__pages">
                <a href="#" class="filter-button">Sign Up</a>
                <a href="#" class="filter-button chosen">Log In</a>
            </div>
            <div class="actions__row"></div>
        </div>
        <main class="container">
            <form action="" id="profile-text">
                <input type="text" id="login-or-email" class="styled-as-input" style="text-align: center;" name="login-or-email" placeholder="input login/email">
                <input type="submit" class="command-button" value="Send link">
            </form>
        </main>
    </div>
</div>
</body>
</html>