<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Your cards</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/reset.css" />
		<link rel="stylesheet" href="../../assets/css/common.css" />
		<link rel="stylesheet" href="../../assets/css/my-cards.css" />
		<meta charset="UTF-8">
	</head>
	<body>	
	<div class="wrapper">
		<header class="header">
			<div class="app-name">GreetTeam</div>
			<div class=header-right__row>
				<div class="navigation-row">
					<a href="home-logged-in.html" class="navigation-link home">
						<img src="../../assets/pictures/home.png">
					</a>
					<a href="#" class="navigation-link profile">
						<img src="../../assets/pictures/user.png">
					</a>
					<a href="login-new.html" class="navigation-link log-out">
						<img src="../../assets/pictures/exit.png">
					</a>
				</div>
				<div class="user-greeting">Hello, Author1!</div>
			<div>
		</header>
		<div class="main-functions">
			<div class="command__row">
				<div class="filter__cards">
					<a href="#" class="filter-button chosen">All Cards</a>
					<a href="#" class="filter-button">My Cards</a>
					<a href="#" class="filter-button">Other Cards</a>
				</div>
				<form id="create-card" action="#">
					<input type="text" class="card-name" name="card-name" placeholder="Name new card">
					<input type="submit" class="command-button create-button" value="Create Card">
				</form>
			</div>
			<main class="container no-padding">
				<div class="list-of-cards">
					<div class="card-and-actions-block">
						<div class="card__row">
							<a href="" class="card-link preview">
								<img src="../../assets/pictures/card-in-progress-icon.png">
							</a>
							<div class="card-details__column">
								<div class="card-name styled-as-input">Happy Birthday</div>
								<div class="card-author styled-as-input">Author1</div>
							</div>
						</div>
						<div class="actions__column">
							<a href="" class="card-action edit">
								<img src="../../assets/pictures/edit.jpg">
							</a>
							<a href="" class="card-action delete">
								<img src="../../assets/pictures/delete.png">
							</a>
						</div>
					</div>
					<div class="card-and-actions-block">
						<div class="card__row">
							<a href="" class="card-link preview">
								<img src="../../assets/pictures/card-in-progress-icon.png">
							</a>
							<div class="card-details__column">
								<div class="card-name styled-as-input">Happy Programmer's Day ahaha</div>
								<div class="card-author styled-as-input">Author2</div>
							</div>
						</div>
						<div class="actions__column">
							<a href="" class="card-action edit">
								<img src="../../assets/pictures/edit.jpg">
							</a>
							<a href="" class="card-action leave">
								<img src="../../assets/pictures/leave.png">
							</a>
						</div>
					</div>
					<div class="card-and-actions-block">
						<div class="card__row">
							<a href="" class="card-link preview">
								<img src="../../assets/pictures/finished-card-icon.png">
							</a>
							<div class="card-details__column">
								<div class="card-name styled-as-input">Merry Christmas</div>
								<div class="card-author styled-as-input">Author2</div>
							</div>
						</div>
						<div class="actions__column">
							<a href="" class="card-action edit disabled">
								<img src="../../assets/pictures/edit.jpg">
							</a>
							<a href="" class="card-action leave">
								<img src="../../assets/pictures/leave.png">
							</a>
						</div>
					</div>
					<div class="card-and-actions-block">
						<div class="card__row">
							<a href="" class="card-link preview">
								<img src="../../assets/pictures/finished-card-icon.png">
							</a>
							<div class="card-details__column">
								<div class="card-name styled-as-input">Happy Anniversary</div>
								<div class="card-author styled-as-input">Author1</div>
							</div>
						</div>
						<div class="actions__column">
							<a href="" class="card-action edit">
								<img src="../../assets/pictures/edit.jpg">
							</a>
							<a href="" class="card-action delete">
								<img src="../../assets/pictures/delete.png">
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	</body>
	</html>