<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../assets/css/reset.css"/>    
    <link rel="stylesheet" href="../../assets/css/common.css"/>
    <link rel="stylesheet" href="../../assets/css/restore-password.css"/>
    <title>Restore password</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="app-name">GreetTeam</div>
        <div class=header-right__row>
            <div class="navigation-row">
                <a href="#" class="navigation-link home">
                    <img src="../../assets/pictures/home.png">
                </a>
            </div>
        </div>
    </header>
    <div class="main-functions">
        <div class="command__row">
            <div class="filter__pages">
                <a href="#" class="filter-button">Sign Up</a>
                <a href="#" class="filter-button chosen">Log In</a>
            </div>
            <div class="actions__row"></div>
        </div>
        <main class="container">
            <form action="" id="password-changeable">
                <div class="profile-password-change__column">
                    <div class="input-text-element__row">
                            <label for="new-password" class="">New Password:</label>
                        <input type="password" id="new-password" class="password styled-as-input" name="new-password">
                    </div>
                    <div class="input-text-element__row">
                            <label for="check-new-password" class="">Check New Password:</label>
                        <input type="password" id="check-new-password" class="password styled-as-input" name="check-new-password">
                    </div>
                    <input type="submit" class="command-button" value="Change password">
                </div>
            </form>
        </main>
    </div>
</div>
</body>
</html>