.save-block {}
.delete-block {
	margin-right: 34px;
}

.no-bottom-padding {
	padding-bottom: 0px;

}

.text-editor {
	display: block;
	margin: 16px auto 0px;
	width: 1100px;
	height: 285px;
	border: 1px solid black;
}



.image-element {}

.text-element {
	font-family: 'Sunshiney';
	font-size: 48px;
	padding: 0px 15px 5px;
	background: none;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 37px;
}
.optional-element {	
	margin-top: 14px;
	border: 1px solid black;
	border-radius: 12px;
	padding: 5px 8px;
	min-height: min-content;
	min-width: 365px;
	font-size: 20px;
	font-family: sans-serif;
	background-color: white;
}


.optional-element_image {

	height: 425px;
	width: auto;
}

.optional-element_audio {
	height: 42px;
	width: auto;
}

.optional-element_link {}
.optional-element_youtube-link {}

#elements-adder__row {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	align-items: center;
	margin-top: 20px;
}

.adder {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 4px 8px;
	margin-left: 15px;
	border-radius: 4px;
	border: 2px solid black;
}

.file-adder {
}
.element-type-icon {
	height: 60px;
	width: auto;
	margin-right: 4px;
}
.element-adder-icon {
	height: 45px;
	width: auto;
}
.files-input {
	display: none;
}
.link-adder {
	width: 100%;
}
.without-left-margin {
	margin-left: 0px;
}


.links {
	border: none;
	opacity: 1;

	flex: 1 0 auto;
	font-size: 20px;
}

.link-adder>input[type="text"] {
	height: 60px;
	padding: 10px 8px 0px;
	border: 1px solid black;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

::placeholder {
	opacity: 1;
	font-size: 18px;
}

#optional-elements__box {
	width: 1100px;
	margin-top: 20px;
	height: 460px;
	position: relative;
	border: 1px solid black;
	overflow: auto;
}

#optional-elements__box>.container {
	padding-left: 250px;
}

.element-with-checkbox {
	display: flex;
	margin-top: 36px;
	align-items: flex-start;
	justify-content: space-between;
	align-self: flex-start;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:60px;
    height:60px;
    background:white;
    border-radius:5px;
    border:2px solid black;
    margin-left: 18px;
}
input[type='checkbox']:checked {
    background-image: url('../../assets/pictures/cross.png');
    background-size: contain;
}