
.header-right__row {
	display: flex;
	position: relative;
}

.navigation-row {
	display: flex;
	justify-content: space-between;
	width: 65px;
	margin-right: 32px;

}

.filter__pages {
	display:flex;
	justify-content: center;
	margin-left: 34px;
	border-radius: 5px;
}


#password-changeable {
	display: flex;
	margin-top: 60px;
}
.profile-password-change__column {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: flex-end;
	justify-content: center;
	padding: 60px 60px;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
}

.input-text-element__row {
	display: flex;
}
.input-text-element__row>label {
	min-width: 142px;
	font-family: 'Merriweather';
	font-size: 24px;
	text-align: center;
}
.input-text-element__row>input[type="text"] {
	font-family: 'Teen';
	font-size: 24px;
	text-align: center;
}
.styled-as-input {
	width: 200px;
	height: 30px;
	margin-bottom: 12px;

	padding: 5px 15px 5px;
	background: none;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.styled-as-input:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.styled-as-input:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.styled-as-input:focus {
	background-color: rgba(0, 0, 0, 0.3);
}
.profile-details-changeable {
	display: flex;
	margin: auto;
}

